<div>
    <h1>Informacion de varias Funciones</h1>
    <form>
        <label>Seleccione funciones:</label>
        <select name="cajafunciones" [(ngModel)]="seleccionados" multiple size="3">
            <option *ngFor="let func of funciones">{{func}}</option>
        </select>
        <button (click)="getPlantillaVarios()">
            Buscar
        </button>
        <div *ngIf="empleados">
            <table class="table">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>ID Hospital</th>
                        <th>ID Sala</th>
                        <th>Funcion</th>
                        <th>Turno</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of empleados">
                        <td>{{person.apellido}}</td>
                        <td>{{person.idHospital}}</td>
                        <td>{{person.idSala}}</td>
                        <td>{{person.funcion}}</td>
                        <td>{{person.turno}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>