<div>
    <h1>Editar Departamento</h1>
    <form #editForm="ngForm">
        <label>Id Departamento</label>
        <input type="number" #cajaid name="cajaid" value="{{departamento.idDepartamento}}" class="form-control" disabled/>
        <label>Nombre</label>
        <input type="text" #cajanombre name="cajanombre" value="{{departamento.nombre}}" class="form-control"/>
        <label>Localidad</label>
        <input type="text" #cajalocalidad name="cajalocalidad" value="{{departamento.localidad}}" class="form-control"/>
        <button (click)="updateDepartamento()" class="btn btn-outline-dark">
            Edit
        </button>
    </form>
</div>