<div>
    <h1>Menu</h1>
    <ul>
        <li>
            <a [routerLink]="['/']">Home</a>
        </li>
        <li>
            <a [routerLink]="['cine']">Cine</a>
        </li>
        <li>
            <a [routerLink]="['musica']">Musica</a>
        </li>
        <li>
            <a [routerLink]="['doble/7']">Doble 7</a>
        </li>
        <li>
            <a [routerLink]="['doble/2']">Doble 2</a>
        </li>
        <li>
            <a [routerLink]="['doble']">Sin parametro</a>
        </li>
    </ul>
</div>
