<div>
    <h1>Insertar Departamento</h1>
    <form #insertForm="ngForm">
        <label>Id Departamento</label>
        <input type="number" name="cajaid" #cajaid class="form-control"/>
        <label>Nombre</label>
        <input type="text" name="cajanombre" #cajanombre class="form-control"/>
        <label>Localidad</label>
        <input type="text" name="cajalocalidad" #cajalocalidad class="form-control"/>
        <button class="btn btn-info" (click)="postDepartamento()">
            Crear
        </button>
    </form>
</div>