<div style="width: 60%; margin: 0 auto;">
    <h1>Login Usuario</h1>
    <form class="form">
        <fieldset>
            <label>Email:</label>
            <input type="text" name="cajaemail" #cajaemail class="form-control">
            <label>Constraseña</label>
            <input type="text" name="cajacontra" #cajacontra class="form-control"><br>
            <button class="btn btn-success" (click)="loadToken()">Login</button>
        </fieldset>
    </form>
</div>


<!-- Nos quedmaos en como pasar el token a las opciones o ver que forma hacerlo, ya tenemos el toekn en loguin -->